<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmu.apointmentscedulerpatient.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cmu.apointmentscedulerpatient.ws.LogIn"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cmu.apointmentscedulerpatient.ws.SelectHospital"
            android:label="title_activity_select_hospital" >
        </activity>
        <activity
            android:name="com.cmu.apointmentscedulerpatient.ws.SelectHosManually"
            android:label="title_activity_select_hos_manually" >
        </activity>
        <activity
            android:name="com.cmu.apointmentscedulerpatient.ws.SelectDoc"
            android:label="title_activity_select_doc" >
        </activity>
        <activity
            android:name="com.cmu.apointmentscedulerpatient.ws.SelectDate"
            android:label="title_activity_select_date" >
        </activity>
        <activity
            android:name="com.cmu.apointmentscedulerpatient.ws.PastActivity"
            android:label="title_activity_past" >
        </activity>
        <activity
            android:name="com.cmu.apointmentscedulerpatient.ws.PastDetialActivity"
            android:label="title_activity_past_detial" >
        </activity>
        <activity
            android:name="com.cmu.apointmentscedulerpatient.ws.DocumentActivity"
            android:label="title_activity_document" >
        </activity>
        <activity
            android:name="com.cmu.apointmentscedulerpatient.ws.FutureActivity"
            android:label="@string/title_activity_future" >
        </activity>
        <activity
            android:name="com.cmu.apointmentscedulerpatient.ws.FutureDetailActivity"
            android:label="@string/title_activity_future_detail" >
        </activity>
        <activity
            android:name="com.cmu.apointmentscedulerpatient.ws.InfoActivity"
            android:label="@string/title_activity_info" >
        </activity>
    </application>

</manifest>
